<header id="main-header" class="py-2 bg-info text-white">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>
                    <i class="fas fa-user"></i> Configuração
                </h1>
            </div>
        </div>
    </div>
</header>

<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a routerLink="/" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Voltar
                </a>
            </div>
            <div class="col-3">
                <div class="d-grid">
                    <button type="submit" (click)="salvar()" class="btn btn-success">
                        <i class="fas fa-save"></i> Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="conf">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Editar Configuração</h4>
                    </div>
                    <div class="card-body">
                        <fieldset class="form-group">
                            <legend>Permitir Registro</legend>
                            <div class="form-check">
                                <label class="form-check-label" for="permitirRegistroSim">
                                    <input
                                    class="form-check-input"
                                    type="checkbox"
                                    name="permitirRegistro"
                                    [(ngModel)]="permitirRegistro"
                                    [checked]="permitirRegistro">
                                    {{ permitirRegistro ? 'Sim' : 'Não' }}
                                </label>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>